{
	"frameworks": {
		"wcf": {
			"version": "2.0.0 RC 1",
			"path": "C:/xampp/htdocs/guilded2/wcf/"
		}
	},
	"replacements": {
	},
	"database": {
		"language": [{
			"host": "localhost",
			"name": "guilded2",
			"user": "root",
			"password": ""
		},{
			"host": "localhost",
			"name": "wbb4rc3",
			"user": "root",
			"password": ""
		}]
	}
}